name: lesson_15_navigation
description: Flutter Mobile Developer. Navigation.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  json_annotation: any
  cupertino_icons: any

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: any
  http: any
  build_runner: any
  json_serializable: any

flutter:

  uses-material-design: true